.location {
  background-color: #EAEAEA;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 6px 0px inset;/* , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  h2 {
    font-size: 1rem;
    margin-left: 10px;
  }
}