.btn {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  height: 40px;
  width: 60%;
  font-size: 0.85rem;
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  border-style : none;
  border-radius: 30px;
}

