

@mixin component-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@mixin title-h2 {
  padding: 20px 20px;
}

@mixin centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}